body{
	background-color: whitesmoke;
    background-image: url("../img/bg/bg_login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.main{
    width: 100%;
    height: 0px;
}

/*Itens Login*/

.logo-login {
	width: auto;
	height: 100px;
	display: block;
}


.container_login{
    width: 620px;
    height: auto;
	position: absolute;
    left:50%;
    top:50%;
	transform: translate(-50%,-50%);	
	border-radius: 4px;
	padding: 20px 20px 20px 20px;    
}

.container_formulario_login {
	width: 480px;
	height: auto;
}

